.profile__edit-image {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 1;
	width: 122px;
	height: 122px;
	border: none;
	background-image: url(../../../images/edit_pencil-large.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	transition: opacity 0.1s linear 0.05s;
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
}

.profile__edit-image:hover {
	opacity: 1;
	cursor: pointer;
}

@media all and (max-width: 768px) {
	
	.profile__edit-image {
		left: 55px;
	}
	
}