.elements {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, 361px);
	grid-gap: 20px 17px;
}

@media screen and (max-width: 1024px) {
	
	.elements {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 20px 0;	
	}

}

@media all and (max-width: 320px) {

	.elements {
		padding: 0 19px;
	}
	
}