.popup__container {
	position: relative;
	box-sizing: border-box;
	max-width: 430px;
	padding: 34px 36px 36px;
	border-radius: 10px;
	background-color: #fff;
}

@media all and (max-width: 768px) {

	.popup__container {
		max-width: 282px;
		padding: 25px 22px 25px;
	}

}