.elements__delete-button {
	position: absolute;
	top: 18px;
	right: 15px;
	z-index: 1;
	width: 18px;
	height: 19px;
	background-color: initial;
	background-image: url(../../../images/icon_trash_disable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	border: none;
	transition: opacity 0.1s linear 0.05s;
}

.elements__delete-button:hover {
	cursor: pointer;
	opacity: .6;
}